<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>服务创建</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>服务创建<i class="fa fa-user"></i></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="clearfix"></div>
                        <form class="form-horizontal form-label-left" th:action="@{/servicemanagement/saveservice}" action="/lost/save"
                              method="post">
                            <div class="x_content">

                                <br>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">客户</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select name="svrCustName" id="svrCustName" class="form-control" required="required">
                                            <option th:each="role:${customeList}" th:value="${role.custName}" th:text="${role.custName}" value="">客户</option>
                                        </select>
                                    </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">服务类型</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <select name="svrType" id="svrType" class="form-control" required="required">
                                        <option th:each="role:${dictList}" th:value="${role.dictItem}" th:text="${role.dictItem}" value="">服务类型</option>
                                    </select>
                                </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">创建人：</label>
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control" id="svrCreateBy"  name="svrCreateBy" th:value="${svrCreateBy}" readonly >
                                </div>

                                <label class="control-label col-md-3 col-sm-3 col-xs-12">状态：</label>
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control" id="svrStatus" name="svrStatus" th:value="新创建" readonly>
                                </div>

                                <label class="control-label col-md-3 col-sm-3 col-xs-12">概要：</label>
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control" id="svrTitle"  name="svrTitle">
                                </div>

                                <label class="control-label col-md-3 col-sm-3 col-xs-12">创建时间：</label>
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control" id="svrCreateDate1" readonly="readonly" name="svrCreateDate1" th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy年MM月dd日')}">
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">服务请求：</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <textarea class="form-control" rows="3" name="svrRequest" id="svrRequest"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button id="send" type="submit" class="btn btn-success">保存</button>
                                    <button type="button" class="btn btn-primary" id="back">返回</button>
                                    <br/><br/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="js">
    $(document).ready(function () {
        $("#back").on("click", function () {
            window.history.back();
        });

    });

</script>
</html>