<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>编辑联系人</title>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>编辑联系人 <i class="fa fa-user"></i></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="clearfix"></div>
                    <form class="form-horizontal form-label-left" th:action="@{/customer/editlinkmansave}" action="/chance/save" method="post">
                        <input type="hidden" name="lkmId" id="lkmId" value="1" th:value="${linkman.lkmId}">
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lkmName"> 姓名
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="lkmName" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="lkmName"
                                        type="text" th:value="${linkman.lkmName}">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" > 性别<span class="required">*</span>
                            </label>
                            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                                <div class="radio-box">
                                    <input name="gender" type="radio" th:attr ="checked=${linkman.lkmSex=='男'?true:false}" id="sex-1"  value="男">
                                    <label >男</label>

                                    <input type="radio" th:attr ="checked=${linkman.lkmSex=='女'?true:false}" id="sex-2" name="gender" value="女">
                                    <label >女</label>
                                </div>

                            </div>


                        </div>



                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="chcLinkman"> 职位 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="chcLinkman" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="chcLinkman" required="required"
                                       placeholder="请输入职位" type="text" th:value="${linkman.lkmPostion}">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="chcSource"> 办公电话 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="chcSource" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="chcSource" required="required"
                                       placeholder="请输入办公电话" type="text" th:value="${linkman.lkmTel}">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="chcRate"> 手机 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="chcRate" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="chcRate" required="required"
                                       placeholder="请输入手机号" type="text" th:value="${linkman.lkmMobile}">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="chcTel"> 备注
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="chcTel" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="chcTel"
                                       placeholder="请输入备注" type="text" th:value="${linkman.lkmMemo}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button id="send" type="submit" class="btn btn-success">保存</button>
                                <button type="button" class="btn btn-primary" id="back">返回</button>
                                <br/><br/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script layout:fragment="js">
    $(document).ready(function(){
        $("#back").on("click",function(){
            window.history.back();
        });
    });

    $('#lkmSex label').on('click','input',function(){
        $(this).parent().siblings().removeClass('active');
        $(this).parent().addClass('active');
        alert($('#lkmSex label input[type^=radio]:checked').val());
    });
</script>
</html>